<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <h2>{{titulo}}</h2>

        <div formGroupName="datosUsuario">
          <div class="form-group">
            <label for="username">Username</label>

            <div class="position-relative has-icon-right">
              <input
                type="text"
                id="username"
                formControlName="username"
                class="form-control round"
                name="form-control-with-icon">
              <div class="form-control-position">
                <i class="ft-user primary"></i>
              </div>
            </div>
            <span
              *ngIf="!signupForm.get('datosUsuario.username').valid && signupForm.get('datosUsuario.username').touched"
              class="help-block">
              <span *ngIf="signupForm.get('datosUsuario.username').errors['nombreEsProhibido']">
                Este nombre es invalido!
              </span>
              <span *ngIf="signupForm.get('datosUsuario.username').errors['required']">
                This field is required!
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>

            <div class="position-relative has-icon-right">
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control round"
                name="form-control-with-icon">
              <div class="form-control-position">
                <i class="ft-mail primary"></i>
              </div>
            </div>
            <span
              *ngIf="!signupForm.get('datosUsuario.email').valid && signupForm.get('datosUsuario.email').touched"
              class="help-block">Please enter a valid email!</span>
          </div>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>

        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button
            class="btn btn-default"
            type="button"
            (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group"
            *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>

        <div class="form-group">
          <label for="estados">Estado</label>
          <input
            type="text"
            id="estados"
            class="form-control mb-3"
            formControlName="estados"
            [ngbTypeahead]="busqueda"
            placeholder="Buscar: alabama" />
        </div>

        <div class="form-group">
          <label>Product Type</label>
          <select formControlName="productType" (change)="typeChanged()" class="form-control">
            <option>Pick a type...</option>
            <option *ngFor="let t of productTypes">{{t}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Products - Option #1 (total={{productsAfterChangeEvent.length}})</label>
          <select formControlName="product" class="form-control">
            <option>Pick a product...</option>
            <option *ngFor="let p of productsAfterChangeEvent">{{p.name}}</option>
          </select>
          <span class="help-block">This product list is rebuilt on every (change) event emitted by the Product Type field.</span>
        </div>
        <div class="form-group">
          <label>Products - Option #2 (total={{(allProducts|productFilter:signupForm.get('productType').value).length}})</label>
          <select formControlName="product2" class="form-control">
            <option>Pick a product...</option>
            <option *ngFor="let p of allProducts|productFilter:signupForm.get('productType').value">{{p.name}}</option>
          </select>
          <span class="help-block">This product list is generated by filtering the original list w/ a custom pipe.</span>
        </div>

        <button (click)="onPrueba($event)">Prueba</button>

        <input #email (keyup.enter)="presionar(email.value)" />

        <span
          *ngIf="!signupForm.valid && signupForm.touched"
          class="help-block">Please enter a valid data!</span>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
