

<div class="col-md-6">
  <h4>NOMBRE</h4>
    <input
      (keyup.enter)="createBook(name)" #name
      type="text" class="form-control round"
    >
</div>

<br>

<!--Basic List Group Starts-->
<div class="col-sm-12 col-md-6 col-lg-11">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Lista de Libros</h4>

    </div>
    <div class="card-body">
      <div class="card-block">
        <ul class="list-group">

          <li
            *ngFor="let libro of books"
            class="list-group-item">
            <button
              (click)="updateBook(libro)"
              class="btn btn-raised gradient-mint white btn-round">Actualizar</button>
            <button
              (click)="deleteBook(libro)"
              class="btn btn-raised gradient-ibiza-sunset white btn-round">Borrar</button>
            {{ libro.name}}
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<!--Basic List Group Ends-->
