<!-- Columns section start -->
<section id="columns">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Punto de Venta</div>
      <p class="content-sub-header">Productos para tu visión</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-1">
      <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top img-fluid" src="assets/img/photos/06.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-outline-warning">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="card card-inverse bg-primary text-center">
          <div class="card-body">
            <div class="card-block pt-3">
              <img src="assets/img/elements/01.png" alt="element 01" width="190" class="float-left img-fluid">
              <h4 class="card-title mt-5">Brand Minute</h4>
              <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
              <button class="btn btn-raised btn-primary btn-darken-3">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="card card-inverse bg-warning text-center no-border box-shadow-0">
          <div class="card-body">
            <div class="card-block">
              <img src="assets/img/elements/04.png" alt="element 05" width="250" class="mb-1 img-fluid">
              <h4 class="card-title">Storage Device</h4>
              <p class="card-text">945 items</p>
            </div>
          </div>
        </div>
        <div class="card card-inverse bg-success text-center no-border box-shadow-0">
          <div class="card-body">
            <div class="card-block">
              <img src="assets/img/elements/06.png" alt="element 02" width="225" class="mb-1 img-fluid">
              <h3 class="card-title">Ceramic Bottle</h3>
              <p class="card-text">456 items</p>
            </div>
          </div>
        </div>
        <div class="card no-border box-shadow-0">
          <div class="card-body">
            <div class="card-block">
              <h4 class="card-title">Bottom Image Cap</h4>
              <p class="card-text">Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon donut pastry gummies tiramisu
                chocolate bar muffin. Dessert bonbon caramels brownie chocolate bar chocolate tart dragée.</p>
              <p class="card-text">Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate bar muffin.</p>
              <p class="card-text mt-1"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img class="card-img-bottom img-fluid" src="assets/img/photos/11.jpg" alt="Card image cap">
          </div>
        </div>
        <div class="card card-inverse no-border box-shadow-0">
          <div class="card-body">
            <img class="card-img img-fluid" src="assets/img/photos/05.jpg" alt="Card image">
            <div class="card-img-overlay overlay-info">
              <h4 class="card-title">Inverse Text</h4>
              <p class="card-text">Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy chupa chups carrot cake topping
                chupa chups.</p>
              <p class="card-text"><small class="text-muted white">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="card card-inverse no-border box-shadow-0">
          <div class="card-body">
            <img class="card-img img-fluid" src="assets/img/photos/09.jpg" alt="Card image">
            <div class="card-img-overlay overlay-warning">
              <h4 class="card-title">Inverse Text</h4>
              <p class="card-text">Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy chupa chups carrot cake topping
                chupa chups.</p>
              <p class="card-text"><small class="text-muted white">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="card card-outline-info text-center box-shadow-0">
          <div class="card-body">
            <img src="assets/img/elements/07.png" alt="element 04" width="210" class="float-left mt-3 img-fluid">
            <div class="card-block pt-3">
              <h4 class="card-title mt-3">New Arrival</h4>
              <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
              <button class="btn btn-raised btn-info btn-darken-3">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="card no-border box-shadow-0">
          <div class="card-body">
            <img class="card-img img-fluid" src="assets/img/photos/02.jpg" alt="Card image cap" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
